:css
  img{
    max-height:100%;
    max-width:100%;
  }
  #text {
    margin:0 ;
    direction: ltr;
    -webkit-writing-mode :vertical-rl ; 
    font-family:"@ＭＳ 明朝","HiraMinProN-W3" ;
    line-height:205%;
    font-size:20px ;
    padding-top:2% ;
    padding-bottom:2% ;
    height:90% ;
  }
:javascript
  $('html,body').animate({scrollLeft:$('#scroll_to').offset().left})
