=content_for :title do
  =@comic.title
.center
  #area
    #page_insert
  .control
    %p
      %a#left{href: 'javascript:void(0)'}="<<"
      &nbsp;&nbsp;
      %a#right{href: 'javascript:void(0)'}=">>"
      &nbsp;&nbsp;
      %a#plus1{href: 'javascript:void(0)'}="+1"
      &nbsp;&nbsp;
      %a#bound{href: 'javascript:void(0)'}
    %p
      %span=text_field_tag :page_jump
      %span /
      %span=@comic.max_page
      &nbsp;&nbsp;
      %a#jump{href: 'javascript:void(0)'} Jump
    %p
      =link_to 'Book List', {action: :index}, {id: 'book_list', 'data-no-turbolink' => true}
      %span#aozora
    %p.title=@comic.title
    %p=link_to 'Aozora mode', aozora_path(@comic)
    %p=link_to 'Memo mode', memo_path(@comic), id: 'memo_link', original: memo_path(@comic), 'data-no-turbolink' => true
    %div.cache
      %span#cache_insert
    .none
      %span#is_left=@comic.left
      %span#max_page=@comic.max_page
      %span#action=params[:action]
      %span#controller=params[:controller]
      %span#id=params[:id]
      %span#page_initial=params[:page]
      %span#now=''
      %span#info=@info
